.make {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    background-color: transparent;
    padding: 14px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $black;
    border-radius: 12px;
    transition: all 0.2s;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $green;
        color: $lightenYellow;
    }
}
