/* fonts */
$marmelad: "Marmelad", "Arial", sans-serif;
$raleway: "Raleway", "Arial", sans-serif;
$roboto: "Roboto", "Arial", sans-serif;
$ptsans: "PT Sans", "Arial", sans-serif;
$rubik: "Rubik", "Arial", sans-serif;

/* colors */
$yellow: #FFE182;
$lightYellow: #FFFBED;
$lightenYellow: #FFF8E1;

$black: #000000;
$lighterBlack: #372E11;
$lightenBlack: #8E825C;

$green: #0E493F;
$gray: #9B9B99;
$lightGray: #EDEDED;
$captchaGrey: #A0B3AF;
$copyrightGray: #B9B3B3;

/* gaps */
$gap-1: 8px;
$gap-2: 20px;

/* other */
$wrapper: 1420px;
$tablet: 768px;
$desktop: 1366px;
$desktop-1: 1440px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
